* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 430px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(241, 100%, 89%);
}

.item-1 h1 {
    color: hsl(241, 100%, 89%);
    font-family: "myfonts";
    font-size: 15px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 60px;
    font-weight: 800;
    font-family: "CircleFont";
    box-shadow: 0px 0px 0px 5px hsla(241, 72%, 46%, 0);
    color: hsl(0, 0%, 100%);
    margin-top: 45px;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.circle p {
    font-size: 14px;
    color: hsl(241, 100%, 89%);
}

.item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    font-family: "myfonts";
}

.item-2 h2 {
    color: hsl(0, 0%, 100%);
}

.item-2 p {
    color: hsl(241, 100%, 89%);
    margin-top: 20px;
    font-size: 14px;
    margin-right: 40px;
    margin-left: 40px;
}

.item-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 2px 2px hsl(241, 100%, 89%);
    color: black;
    text-align: left;
    gap: 20px;
    padding: 20px;
    font-family: "myfonts";
}

.reaction,
.memory,
.verbal,
.visual {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsla(0, 100%, 67%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsla(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsla(234, 85%, 45%);
}

.side {
    margin-right: 98px;
}

.light-text {
    color: hsl(241deg 17.18% 65.95%);
}

.dark-text {
    color: hsl(224, 30%, 27%);
    font-weight: 600;
}

.button {
    width: 100%;
    padding: 15px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    font-family: "myfonts";
}

.button:hover {
    background-color: hsla(256, 72%, 46%, 1);
}

@font-face {
    font-family: "myfonts";
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: "CircleFont";
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

/* Media Queries */
@media screen and (max-width: 700px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Adjust height automatically */
        margin: 0; /* Remove any margin */
    }

    .item-1, .item-2, .item-3 {
        width: 100%; /* Full width for all items */
        height: auto; /* Adjust height automatically */
    }

    .item-1 {
        border-radius: 0px 0px 20px 20px; 
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 40px;
        margin-top: 10px;
    }

    .item-3 {
   
        width: 100%;
        gap: 5px; 
    }

    .side{
        position: absolute;
        left: 60px;
    }
}